h1, h2, h3, h4, h5, h6, a {
  color: #2b3647;
}

a:hover{
  color: #1f8cce;
}

.btn-primary {
  background-color: #2b3647;
  color: #ffffff;
  border-color: #2b3647;
  font-size: 13px;
  width: 80px;
}

.btn-primary:hover{
  background-color: #2b3647;
  color: #ffffff;
  border-color: #2b3647;
}

.btn-cancel {
  background-color: #ececec;
  color: #000;
  border-color: #c2c2c2;
  font-size: 13px;
  width: 80px;
}

.btn-cancel:hover{
  background-color: #ececec;
  color: #000;
  border-color: #c2c2c2;
}