body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modal-backdrop {
  z-index: 10;        
}​

.pac-container {
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  display: inline-block;
}
.modal{
  z-index: 20;   
}